@import "tailwindcss";

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-hover: hsl(var(--accent-hover));

  --color-text-primary: hsl(var(--text-primary));
  --color-text-tertiary: hsl(var(--text-tertiary));
  --color-text-subtitle: hsl(var(--text-subtitle));
  --color-text-muted: hsl(var(--text-muted));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 10% 94%;
    --accent: 82 68% 55%;
    --accent-hover: 82 68% 63%;

    --text-primary: 200 3% 19%;
    --text-tertiary: 220 17% 42%;
    --text-subtitle: 210 13% 46%;
    --text-muted: 210 10% 65%;
  }

  [data-theme="dark"] {
    --background: 210 30% 8%;
    --foreground: 210 20% 12%;
    --accent: 82 68% 55%;
    --accent-hover: 82 68% 48%;

    --text-primary: 0 0% 95%;
    --text-tertiary: 210 10% 70%;
    --text-subtitle: 210 10% 60%;
    --text-muted: 210 10% 45%;
  }
}

@layer base {
  body {
    @apply bg-background text-text-primary;
    font-family: var(--font-work-sans), sans-serif;
  }
}
