services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    env_file:
      - ./.env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
